*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
link,
textarea,
input,
h2,
h3,
button {
  font-family: "Arsenal", sans-serif;
}

button {
  cursor: pointer;
  font-weight: bold;
}

.label-hidden {
  position: absolute;
  left: -9999px;
}

/********** MAIN **********/
main {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em;
}

.kanban-section {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

/* A pen cursor to indicate editable text in taskModal */
.editable:hover {
  cursor: url("./assets/pencil-cursor.svg"), auto;
}

/********** BUTTONS **********/
/* --- Close Buttons --- */
.button-close {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: black;
}

.IoClose:hover,
.button-close:hover {
  scale: 1.2;
  fill: red;
  color: red;
}

/* --- Add Buttons --- */
.add-button {
  font-size: 1.2rem;
  padding: 0.2em 1em;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin: 0.5em 0 0 0.3em;
}

.add-button:hover {
  scale: 1.1;
  background-color: rgb(155, 211, 192);
}

/********** MEDIA QUERY **********/
@media (max-width: 700px) {
  .kanban-section {
    flex-direction: column;
    align-items: center;
  }
}
