*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
link,
textarea,
input,
h2,
h3,
button {
  font-family: "Arsenal", sans-serif;
}

button {
  cursor: pointer;
  font-weight: bold;
}

/********* HEADER **********/
header {
  width: 100%;
  background-color: #facac3;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px double black;
  font-family: "Abril Fatface", serif;
  padding: 0.3em 0.5em;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-weight: 400;
  padding: 0em 0.5em;
}

.header-link:hover {
  background-color: #f08787;
  border-radius: 24px;
}

/********** FOOTER **********/
footer {
  width: 100%;
  background-color: #facac3;
  min-height: 7vh;
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  justify-content: center;
  font-weight: 600;
}

/********** MAIN **********/
main {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em;
}

.kanban-section {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

/********** COLUMNS **********/
.Column {
  width: 20%;
  min-width: 200px;
  min-height: 50vh;
  background-color: rgba(235, 235, 235, 0.9);
  border-radius: 15px;
  margin: 1em;
  padding: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
  position: relative;
}

.ColumnHeading {
  background-color: rgba(113, 235, 222, 0.8);
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.ColumnHeading-h2 {
  padding: 0.2em 1em;
}

.ColumnHeading-link {
  text-decoration: none;
  color: black;
}

.ColumnHeading-h2:hover {
  background-color: rgba(120, 248, 235, 0.9);
  border-radius: 20px;
  text-decoration: underline;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/********** CARDS **********/
.CardContent {
  background-color: white;
  width: 98%;
  min-width: 160px;
  margin: 0.5em auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.CardContent-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.6em 0.8em 0.2em 0.8em;
  gap: 0.5em;
  cursor: zoom-in;
}

.CardContent-text::after {
  content: "";
  height: 5px;
  background-image: radial-gradient(circle, #f08787 20%, transparent 0);
  background-position: bottom;
  background-size: 8px 6px;
}

.arrow-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.CardContent img {
  cursor: pointer;
}

/********** MODALS **********/
.AddTaskModal,
.TaskModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.AddTaskForm,
.TaskMC {
  background-color: white;
  margin: 15vh auto;
  padding: 1.7em;
  max-width: 600px;
  width: 60%;
  position: relative;
  box-shadow: 4px 4px 5px rgba(87, 85, 85, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: start;
  gap: 1em;
}

.AddTaskForm-heading,
.AddTaskForm-info,
.TaskMC-info {
  width: 95%;
  padding: 0.5em;
  border-radius: 10px;
  line-height: 1.5;
  font-size: 1.1rem;
}

.AddTaskForm-heading {
  margin: 1em 0;
  font-size: 1.3rem;
}

.TaskMC h2 {
  font-size: 1.3rem;
}

.TaskMC-heading {
  font-size: 2rem;
  padding: 0.2em 0.4em;
  font-weight: bold;
  margin-top: 0.5em;
  border: 2px solid rgb(231, 207, 215);
  border-radius: 10px;
}

.TaskMC-info {
  width: 100%;
  border: 1px solid rgb(231, 207, 215);
  background-color: mistyrose;
  margin-bottom: 1em;
}

.label-hidden {
  position: absolute;
  left: -9999px;
}

/* A pen cursor to indicate editable text */
.editable:hover {
  cursor: url("./assets/pencil-cursor.svg"), auto;
}

/********** BUTTONS **********/
/* --- Close Buttons --- */
.button-close {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: black;
}

.IoClose:hover,
.button-close:hover {
  scale: 1.2;
  fill: red;
  color: red;
}

/* --- Add Buttons --- */
.add-button {
  font-size: 1.2rem;
  padding: 0.2em 1em;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin: 0.5em 0 0 0.3em;
}

.add-button:hover {
  scale: 1.1;
  background-color: rgb(155, 211, 192);
}

/* --- Trash Buttons --- */
.DeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 1.6rem;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 10px;
}

.DeleteButton:hover {
  border: 3px solid rgb(155, 27, 27);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.TaskModal-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/********* MISSING PAGE **********/
.MissingPage {
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 6em;
}

.MissingPage-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.MissingPage-text {
  margin-top: 0.3em;
  font-weight: bold;
  font-size: 2.5rem;
}

.MissingPage-btn {
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  border-radius: 20px;
}

.MissingPage-btn:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #f6b13a;
}

.MissingPage-link {
  text-decoration: none;
  color: black;
}

/********** MEDIA QUERY **********/
@media (max-width: 700px) {
  .header-link {
    font-size: 2.3rem;
    font-weight: 400;
  }

  .kanban-section {
    flex-direction: column;
    align-items: center;
  }

  .Column {
    width: 80%;
    min-height: unset;
  }

  .AddTaskForm,
  .TaskModalContent {
    width: 90%;
  }

  .TaskModal-heading {
    width: 100%;
  }
}
